.container-fluid {
  background-color: gray;
}

.words {
  position: relative;
  display: inline-block;
}
.single-word {
  display: flex;
  overflow: hidden;
  /* width: fit-content; */
}
.second-word {
  position: absolute;
  top: 0;
  left: 0;
}
.single-chart1 {
  font-weight: bolder;
  font-size: 7rem;
  line-height: 1;
  /* letter-spacing: 0px; */
}

.single-chart2 {
  font-weight: bolder;
  font-size: 7rem;
  line-height: 0.9;
  color: red;
}
.uno {
  display: flex;
}
.dos {
  display: flex;
}
